*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    overflow-x: hidden;
}

/*navegador*/
#wrapper
{
    width: 100vw;
    height: 6vh;
    background-color: lightgray;
    color: rgba(81, 53, 241, 0.468);
    padding: 3em;
}

.menu li{
    list-style: none;
    
}
.menu a
{
    color: rgba(81, 53, 241, 0.468);
    text-decoration: none;
    font-size: 2em;
   

}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
   
}

.menu a:hover
{
    background-color: rgba(81, 53, 241, 0.468);
    transition: ease-in .03;
    border-radius: 10px;
  
}

.brand{
    margin-top: 2px;
    

}

.brand h2
{
    font-size: 2em;
    
}
.brand span
{
    color :rgba(0, 0, 0, 0.372);
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

/*acerca de mi*/



#acerca_de_mi{
    background-color: lightgray;
    text-align:center;
    align-items: center;
    padding: 3em;
    width: 100vw;
    height: 100vh;
   
}

#acerca_de_mi h2
{
    font-size: 3em;
    color: rgba(81, 53, 241, 0.468);
    margin-top: -200px;
    text-align: left;
}

.menu_informacion  
{
    font-size: 2em;
    
}

#acerca_de_mi li
{
    list-style-position: inside;
   text-align: left;
   
    
}

 .row img
{
    opacity: 0.4;
    width: 30vw;
    height: 700px;
    border: 7px solid aliceblue;
  
}


/*seccion experiencia*/

#seccion-experiencia{
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    text-align:center;
    align-items: center;
    padding: 2em;

}

#seccion-experiencia img
{
    opacity: 0.6;
    width: 40vw;
    height: 700px;
    border: 7px solid aliceblue;
    margin: 5em;
}

#experiencia li
{
    list-style-position: inside;
    font-size: 2em;
    
}

#experiencia ul
{
    padding: 3em;
    text-align: left;
}


#experiencia  h2{
    font-size: 3em;
    color: rgba(81, 53, 241, 0.468);
    text-align: left;
}



/*seccion estudios */

#estudios{
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    text-align:center;
    align-items: center;
    padding: 2em;

}

#estudios img
{
    opacity: 0.6;
    width: 40vw;
    height: 700px;
    border: 7px solid aliceblue;
    margin: 5em;
}

#info li
{
    list-style-position: inside;
    font-size: 2em;
}

#info ul
{
    padding: 3em;
    text-align: left;
}


#info  h2{
    font-size: 3em;
    color: rgba(81, 53, 241, 0.468);
    text-align: left;
}


/*seccion contacto*/

#contacto
{
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2em;
}

#contacto h2
{
    font-size: 3em;
    color: rgba(81, 53, 241, 0.468);
    text-align: center;
    
}

#imagen_contacto img
{
    opacity: 0.6;
    width: 40vw;
    height: 700px;
    border: 7px solid aliceblue;
    margin: 5em;
}

#mis_redes img
{
    opacity: 0.6;
    width: 150px;
    height: 150px;
    border: 7px solid aliceblue;
 

    
}

#mis_redes {
    align-items: center;
    margin-top: -5em;
}



/*footer*/

.row footer{
    background-color: lightgray;
    width: 100vw;
    height: 5vh;
    text-align: center;
    font-size: 1.5em;
    

}